body{

    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
    background-image: linear-gradient(white, blue);
background-repeat: no-repeat;
height: 1200px;
background-size: cover;
width: 100%;
}
ul{
list-style-type: circle;
}

h2{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: oblique;
}
h3{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
}

h1{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: oblique;
text-align: center;

}
table{
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px;
    
}

iframe{
width: 600px;
height: 300px ;
border: 5px solid #f72f2f ;

    }
